<header>
  <div class="px-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/open-orders">Open Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order-history">Order History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search-order">Search Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spot-assets">Spot Assets</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>